name: Simple CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Print system info
        run: uname -a

      - name: Run build command
        run: echo "Build completed successfully"

      - name: Run test command
        run: echo "All tests passed"
  
  Deploy:
    runs-on: ubuntu-latest
     steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: run Deploy command
        run: echo "Deployed Successfully"  


      