name: CI Pipeline
on:
  push:
    branches:
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: "deploy the code"
        run: echo "deploying the code..."  


  build:
   runs-on: node:14
   steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: install dependencies
      run: npm install        

      
  
