name: CI Pipeline
on:
  push:
    branches:
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: "deploy the code"
        runs-on: ubuntu-latest
        run: echo "deploying the code..."  

      
  
